



.button {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px 32px;
    text-align: justify-all;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #008CBA;
    margin: 30px;
    font-size: 2vw ;
    width: 25%;



}
.button:hover {
    color: white;
    background-color: #008CBA;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}

.Highscore {
    width: 30%;
    top: 40%;
    position: absolute;
    padding: 8px 0;
    background-color: gray;
    margin: 10px;
    display: inline-block;
}

@media (max-width: 1000px) {
    .Highscore {
        top: 0;
        margin: 0;
    }
}

.Highscore.left {
    left: 0;
}

.Highscore.right {
    right: 0;
}

.Highscore.active {
    background: green;
}

.Highscore p {
    padding: 10px 10px 10px 14px;
    font-size: 1.5vw;
    color: black;
    display: compact;
}

