p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#actions {
    position: fixed;
    bottom: 40px;
    display: none;
    justify-content: center;
    padding: 8px;
    width: 100%;
}

#actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
}

.grid-container {
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
  margin-bottom: 200px;
  display: grid;
  justify-content: center;
  place-items: center;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
  grid-template-rows: repeat(auto-fit,minmax(200px,1fr)) ;
}

.card {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 80px;
  height: fit-content;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url("./assets/fh loogoo.jpg");
    background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}

.score {
    width: 9%;
    position: fixed;
    z-index: 1;
    top: 40%;
    overflow-x: hidden;
    padding: 8px 0;
    background-color: red;
    margin: 10px;
    border-radius: 10px;
}

@media (max-width: 1450px) {
    .score {
        top: 0;
        margin: 0;
    }
}

.score.left {
    left: 0;
}

.score.right {
    right: 0;
}

.score.active {
    background: green;
}

.score p {
    padding: 10px 10px 10px 14px;
    font-size: 1.5vw;
    color: black;
    display: compact;
}

.button {
    border-radius: 30px;
}
@media (max-width: 768px) {
    .card {
        height: 120px;
        width: 120px;
    }

    .front-image {
        width: 60px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-template-rows: repeat(auto-fit,minmax(120px,1fr)) ;
    }
}
