body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#actions {
    position: fixed;
    bottom: 40px;
    display: none;
    justify-content: center;
    padding: 8px;
    width: 100%;
}

#actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 1%;
    grid-template-columns: repeat(6, 180px);
    grid-template-rows: repeat(4, calc(180px / 2 * 3));
}

.card {
    height: calc(180px / 2 * 3);
    width: 180px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front-image {
    width: 80px;
    height: fit-content;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .back {
    background-image: url("./assets/fh loogoo.jpg");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

.card .front {
    transform: rotateY(180deg);
}

.score {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 40%;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
    background-color: green;
    margin: 10px;
}

.score p {
    padding: 10px 10px 10px 14px;
    font-size: 25px;
    color: black;
    display: compact;
}

@media (max-width: 1450px) {
    .score {
        top: 0;
        margin: 0;
    }
}
