*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    text-align: center;
    font-family: Calibri;
    margin: 0;

}
header {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    overflow: auto;
    padding: 7px;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;


}
a{
    text-decoration: none;
    color: black   ;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: azure;
    padding: 8px;
    text-align: center;

}